<!DOCTYPE html>
<html lang="{{ .Language.LanguageCode }}" {{ with .Site.Params.defaultColorMode }}data-bs-theme="{{.}}" {{ end }}>

<head>
    {{ partial "schema/main.html" . }}
    {{ partial "head.html" . }}
    {{ block "head" . }}{{ end }}
    {{ block "style" . }}{{ end -}}
</head>

<body>
    {{ $siteURL := .Site.BaseURL }}
    {{ partial "header.html" . }}
    <main class="{{.Kind}}" id="{{ path.Base .Permalink}}">
        {{ block "main" . }}{{ end }}
    </main>

    {{ partial "footer.html" . }}

    {{- with .Site.Params.useBootstrapBundleJS }}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    {{ end -}}

    {{- with .Site.Params.usejQuery }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    {{ end -}}

    {{- with .Site.Params.activateColorModeToogler -}}
    <script type="text/javascript" src="{{ $siteURL }}global/js/colormode.js"></script>
    {{ end -}}

    {{- with .Site.Params.useMathJax -}}
    <script type="text/javascript" id="MathJax-script" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    {{ end -}}

    {{- with .Site.Params.usePrintPageFunction -}}
    <script type="text/javascript" src="{{ $siteURL }}global/js/print.js"></script>
    {{ end -}}

    {{ block "script" . }}{{ end }}
    {{ partial "function/logout.html" . }}
</body>
</html>