{{ $pages := .CurrentSection.Pages.ByParam "unit" }}
{{ $current := . }}

{{/*  <ol>
  {{ range $index, $page := $pages }}
    <li>{{ add $index 1 }}. <a href="{{ $page.Permalink }}">{{ $page.Title }}</a></li>
  {{ end }}
</ol>  */}}

<div class="d-flex justify-content-between fw-bold" aria-label="Post navigation">
  {{ $currentSection := .Section }}
  {{ $currentIndex := -1 }}
  {{ range $index, $page := $pages }}
    {{ if eq $page $current }}
      {{ $currentIndex = $index }}
    {{ end }}
  {{ end }}

  {{ if gt $currentIndex 0 }}
    {{ $prev := index $pages (sub $currentIndex 1) }}
    <a href="{{ $prev.Permalink }}">← পূর্বে {{/* {{ $prev.Title }} */}}</a>
    {{else }}
    <a href="/{{$currentSection}}/">সূচিপত্রে যান</a>
  {{ end }}

  {{ if lt $currentIndex (sub (len $pages) 1) }}
    {{ $next := index $pages (add $currentIndex 1) }}
    <a href="{{ $next.Permalink }}">পরে {{/* {{ $next.Title }} */}}→</a>
    {{else }}
    <a href="/{{$currentSection}}/">সূচিপত্রে যান</a>
  {{ end }}
</div>